<%= javascript_include_tag "knockout" %>
<%= javascript_include_tag "wecome" %>
<h3>show some debug information</h3>

<h3><%= controller_name.to_s + "#" +action_name.to_s %></h3>

<p id="x"></p>

<hr>
<span class="info">table view 2</span>
<table id="table_list">
  <thead>
  <tr><th>First name</th><th>Last name</th></tr>
  </thead>
  <tbody data-bind="foreach: people">
  <tr>
    <td data-bind="text: firstName"></td>
    <td data-bind="text: lastName"></td>
  </tr>
  </tbody>
</table>

<script type="text/javascript">
    ko.applyBindings({
        people: [
            { firstName: 'Bert', lastName: 'Bertington' },
            { firstName: 'Charles', lastName: 'Charlesforth' },
            { firstName: 'Denise', lastName: 'Dentiste' }
        ]
    },$("#table_list")[0]);
</script>



<div data-bind="visible: shouldShowMessage" id="33455">
  You will see this message only when "shouldShowMessage" holds a true value.
</div>

<script type="text/javascript">
    var viewModel = {
        shouldShowMessage: ko.observable(true) // Message initially visible
    };
    $(function(){
        ko.applyBindings(viewModel,$("#33455")[0]);
        viewModel.shouldShowMessage(false); // ... now it's hidden
    })

</script>

<button class="label-primary">visuble</button>

<script>
  $("button").click(function(){
//     if(!viewModel.shouldShowMessage()){
//         viewModel.shouldShowMessage(true)
//         $("button").attr("on",true)
//     }

      var on = $(this).attr("on");

      if(!on || !viewModel.shouldShowMessage()){
          viewModel.shouldShowMessage(true);
          $(this).attr("on",true);
      }
      else {
          $(this).attr("on",false);
          viewModel.shouldShowMessage(false);
      }

  })
</script>

<p id="bree1">
  <span data-bind="text:name"></span>
  <span data-bind="text:age"></span>
</p>



<ul data-bind="foreach: sexs" id="array_001">
  <li>
    The current item is: <b data-bind="text: $data"></b>
  </li>
</ul>

<div data-bind="attr: {class:row}" id="bree2">
   <div   data-bind="attr: {class:span}"><p>111111111111111</p></div>
   <div   data-bind="attr: {class:span}"><p>222222222222222</p></div>
   <div   data-bind="attr: {class:span}"><p>333333333333333</p></div>
</div>

<script type="text/javascript">
    ko.applyBindings({
        months: [ 'Jan', 'Feb', 'Mar', 'etc'],
        sexs: ['a','b']
    },$("#array_001")[0]);
</script>



<ul data-bind="foreach: list" id="bree3">
  <li>The value <span data-bind="text: $data"></span></li>
  <li>The index is <span data-bind="text: $index"></span></li>
</ul>

